@font-face {
  font-family: "Jura";
  src: url(../../fonts/Jura-Regular.ttf)
}

@font-face {
  font-family: "Jura-L";
  src: url(../../fonts/Jura-Light.ttf)
}

header {
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(Black, #000000c0, #00000000);
  padding: 0;
  margin: 0;
  padding-top: 3vh;

  font: 15px "Jura", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  color: red;

  z-index: 0;
}

header h1 {
  font: 36px "Jura-L"
}