body {
  margin: 0;
  background-image: url("../../images/red.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(70vh, auto);
}