.mapContainer {
  grid-column: 1;
  grid-row: 1;
}

.map {
  height: 100%;
  border: 1px black solid;
}

#map.leaflet-container {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#map img.leaflet-image-layer {
  filter: drop-shadow(0 0 20px black);
}

#map .leaflet-marker-icon {
  filter: drop-shadow(0 0 5px red);
}

#map .leaflet-marker-icon:hover {
  filter: drop-shadow(0 0 5px white);
}
